.card{
    background-color: rgb(31, 26, 69);
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    border: none;
    margin-top: 10px;
}
.tab_left{
    padding-right: 1px!important;
}
.tab_right{
    padding-left: 1px!important;
}
.btn_tab{
    background-color: rgb(89, 13, 228);
    width: 100%;
    font-weight: bold;
    color: white;
    margin-left: 0!important;
    margin-right: 0!important;
    border-radius: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn_tab:hover{
    background-color: rgb(50, 8, 129);
    color: white;
}
.card_not_found{
    background-color: rgb(79, 8, 17);
    text-align: center;
    color: white;
    padding: 20px;
}
.card_info{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}
.card_info .date{
    font-size: 14px;
    font-weight: normal;
}
.card_info .price{
    font-size: 22px;
}
.card .card_row{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}
.card_row_last{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.tab_active{
    display: block;
}
.deactive{
    display: none;
}